

<form class='user_form' method='post' action='/login'>
  <input type='text' name='username' placeholder='username here'><br>
  <input type='password' name='password' placeholder='password here'><br>
  <input type='submit' value='Login, I guess'><br>
</form>

<form class='user_form' method='post' action='/new_user'><br>
  <input type='text' name='username' placeholder='username here'><br>
  <input type='password' name='password' placeholder='password here'><br>
  <input type='submit' value='Make an account, maybe?'><br>
</form>
