
<h4><a href="/create_post" class='new_post_link'>Create a New Post, or whatever...</a></h4>

<ol class='content_list'>
  <% @posts.each do |post| %>

  <h3><a href="/show/<%= post.id %>"><%= post.title %></a></h3>
  <p><%= post.body %></p>
  <p><a href="/comment/<%= post.id %>" class='comment'>Force your people to listen to your opinion with a comment?</a></p>

  <% end %>
</ol>
