<form class='post' method='post' action='/new_post'>
  <input type='text' name='post_title' placeholder='Give it a title, slacker'><br>
  <textarea rows='10' cols='50' placeholder="what's so damn important?..."></textarea>
  <input type='submit' value='tell people, if you want...'><br>
</form>
