<form class='post' method='post' action='/new_post'>
  <input type='text' name='post[title]' placeholder='Give it a title, slacker'><br>
  
  <textarea name='post[body]' rows='10' cols='50' placeholder="what's so damn important?..."></textarea>

  <input name='post[user_id]' type='hidden' value="<%= @user.id %>">
  <input type='submit' value='tell people, if you want...'><br>
</form>
